.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: darksalmon;
}

.playlist {
  margin-top: 20px;
  width: 300px;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
}

.playlist li:hover {
  background-color: #f0f0f0;
}
